html,
body {
  height: 100%;
  margin: 0;
}
/*---- Strukture ---- */
.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  /*grid-template-columns: 250px auto;*/
  grid-template-rows: auto 100vh;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  border-radius: 20px;
  min-height: 5vh;
  grid-column: 1 / -1;
  background: #f0f0f0a9;
  padding: 0 20px;
  box-sizing: border-box;
}

.preface {
  height: 400px;
  padding: 20px 20px 20px;
  background-image: url(https://www.zuerich.com/sites/default/files/styles/1920_1152_focal_scale_crop/public/imagegallery/web_zurich_sigthseeing_bahnhofstrasse_02.jpg?h=2020-08-14T16:41:13+02:00);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boardsPreface {
  padding: 50px;
  background: #f0f0f0a9;
  border-radius: 20px;
}

.boardsPrefaceHover:hover {
  background-color: #0576b388;
  opacity: 1;
  border-radius: 20px;
}

.content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.boards_content {
  background: #f0f0f0a9;
  border-radius: 20px;
}

/*---- Buttons ---- */

.button {
  border-radius: 20px;
  background-position: center;
  margin: 10px;
  background: #f0f0f0a9;
  color: black;
  font-family: Andale Mono;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.buttonHover:hover {
  background-color: #0576b36b;
  border: 1px solid #0576b36b;
  opacity: 1;
  border-radius: 20px;
  color: black;
}

/*---- Fonts ---- */

#title {
  font-family: Andale Mono;
  font-weight: bolder;
  font-size: 35px;
  color: rgb(0, 0, 0);
  width: 110px;
  margin-left: 5px;
  text-align: center;
}

.text {
  font-family: Andale Mono;
  font-size: 15px;
  color: rgb(0, 0, 0);
  width: 100%;
}

.textHover:hover {
  font-family: Andale Mono;
  font-size: 15px;
  color: #ffffff;
  width: 100%;
}
