html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 250px auto;
  grid-template-rows: auto 100vh;
}

.header {
  background: rgb(255, 196, 0);
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  width: 100%;
  grid-column: 1 / -1;
}

.aside {
  background: rgb(223, 223, 223);
  border-right: 1px solid grey;
}
.main {
  background: rgb(142, 36, 36);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
