html,
body {
  height: 100%;
  margin: 0;
}
/*---- Strukture ---- */
.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  /*grid-template-columns: 250px auto;*/
  grid-template-rows: auto 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  min-height: 5vh;
  width: 100%;
  grid-column: 1 / -1;
  background: #1c1c1c;
  /*border-bottom: 1px solid grey;*/
  align-items: center;
}

.aside {
  background: #d8d8d8;
  border-right: 1px solid grey;
}
.main {
  background: #d8d8d8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/*---- Buttons ---- */

.button {
  border-radius: 5px;
  margin-top: 7.5px;
  margin-right: 10px;
  background-color: #1c1c1c;
  color: white;
  font-family: Andale Mono;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.buttonHover:hover {
  background-color: #0cf574;
  border: 1px solid #0cf574;
  border-radius: 15px;
  color: black;
}

/*---- Fonts ---- */

#title {
  font-family: Andale Mono;
  font-weight: bolder;
  font-size: 35px;
  color: white;
  width: 110px;
  margin-left: 5px;
  text-align: center;
}

.text {
  font-family: Andale Mono;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 110px;
  margin-left: 5px;
  text-align: center;
}

.h1 {
  font-family: Andale Mono;
  font-weight: bolder;
}
